@import "tailwindcss";
@keyframes fade-in   { from {opacity:0} to {opacity:1} }




.animate-fade-in  { animation: fade-in  .5s ease-out forwards; }


 @keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
    background-size: 1000px 100%;
}
.isactive{
    left: 0px;
}


/* لإزالة الأسهم من input type="number" في جميع المتصفحات */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

